# Files to be ignored by Git

# Visual Studio Code IDE.
.vscode

# Makefile that is private to each developer's repository. It has their WiFi SSID / Password
wifi_config.cmake

# CMake / Pico SDK temporary build files.
build/

# Cargo / Rust build output.
target/

# Samples used for testing.
perf/perf-pc/perf-pc
obj/

# Temporary KiCad files.
*.kicad_prl
fp-info-cache
**/gerbers/
**/*-backups/
**/_autosave-*

# Temporary log files.
mri.log

# Intermediate graphics where the final output is stored as .png
*.paint

# Boot ROM symbols that I keep on my local machine.
/bootrom-symbols

# Metadata created by macOS.
.DS_Store
